In [1]:
import pandas as pd

### Pivot Table

In [2]:
df = pd.read_csv('weather_data.csv')

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [4]:
df.pivot_table(values='temperature', index='event', aggfunc='mean')

       temperature
event
0         -49982.5
Rain          32.0
Snow          28.0
Sunny     -49984.0

In [ ]:
df.pivot_table